<div id="signup">
  <h2>Sign Up</h2>

  <form action="/signup" method="POST">
    <label for="input-username">Username</label>
    <input type="text" id="input-username" name="username" placeholder="Create your username">
    <br>
    <label for="input-email">Email</label>
    <input type="text" id="input-email" name="email" placeholder="Typr your email here">
    <br>
    <label for="input-password">Password</label>
    <input type="password" name="password" placeholder="*****">
    <br>
    <button type="submit">Create Account</button>

    {{!-- error message --}}
    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>